/*
Colors
Charcoal #494949
Bubblegum Pink #FF5D73
Grey #7C7A7A
String Cyan #4ECDC4
*/

#main-window {
    background-color: #494949;
    border: solid 2px black;
    border-radius: 6px;
    max-width: 500px;
}

#search-bar-box {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#search-bar {
    width: 400px;
}

#search-results {
    position: absolute;
    z-index: 1;
    background-color: #494949; 
    border-bottom: solid 2px black;
    border-radius: 6px;
    max-width: 500px;
    margin-bottom: 20px;
}

.game-box {
    display: flex;
    margin: 6px 4px;
    height: 200px;
    padding: 10px 0px;
}

.release-date-box {
    background-color: #4ECDC4;
    display: flex;
    border: solid 2px black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 150px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.cover-art-box {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
    width: 150px;
    height: 200px;
}

.cover-art {
    width: 150px;
}

.title-box {
    display: flex;
    background: linear-gradient(#FF5D73, #7C7A7A);
    border: solid 2px black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 150px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#update-button {
    background: green;
    border: 2px solid black;
    border-radius: 2px;
    margin-top: 4px;
    padding: 3px 4px;
    font-weight: bolder;
    color: white;
}

#delete-button {
    background: red;
    border: 2px solid black;
    border-radius: 2px;
    margin-top: 4px;
    padding: 3px 4px;
    font-weight: bolder;
    color: white;
}

.add-game {
    width: 100px;
    height: 100px;
    border: 4px solid black;
    margin: 5px auto;
}

#plus-sign {
    height: 100px;
    width: 100px;
}